@model TinyMce.MvcSample.Models.NewDocumentModel

@{
    ViewBag.Title = "Select filename for the new document";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/scripts/jquery-1.12.4-dev.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/5.2/jquery.validate.unobtrusive.js"></script>

<h2>Select filename for the new document</h2>

@using (Html.BeginForm("CreateNew", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.NewDocumentName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewDocumentName)
            @Html.ValidationMessageFor(model => model.NewDocumentName)
        </div>
        <p>
            <input type="submit" value="Create new document"/>
        </p>
    </fieldset>
}

