<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="../../scripts/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../scripts/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
